/// Imports
@use 'util' as *;
@use 'vars';

/// Global styles
* {
    &, &::before, &::after {
        box-sizing: border-box;
    }
}

html, body {
    width: 100%;
    min-height: calc(100vh - $nav-height);
    margin: 0;
    padding: 0;
    color: css-var(fore);
    background-color: css-var(back);
    font-family: $font-primary, $font-backups;
    overflow-x: hidden;
}

a {
    &[href^='tel:'], &[href^='mailto:'] {
        white-space: nowrap;
    }
}

button {
    cursor: pointer;
}