/// vars.scss - Global variables
/// @author Sam Underwood
/// 
/// @group Vars
@charset 'utf-8';

/// Imports
@use 'util' as *;

/// Global Colors
$facebook: #3b5998;
$youtube: #F00;
$itunes: #DDD;
$spotify: #84bd00;
$amazon-0: #F90;
$amazon-1: #146eb4;
$napster-0: #2ca6de;
$napster-1: #fdb813;
$google-play-0: #f55a34;
$google-play-1: #ffd119;
$google-play-2: #ff8c00;
$instagram-0: #8a3ab9;
$instagram-1: #4c68d7;
$instagram-2: #cd486b;
$instagram-3: #fbad50;
$instagram-4: #fccc63;
$instagram-5: #bc2a8d;
$instagram-6: #e95950;

/// Application Colors
$black: #000 !default;
$white: #fff !default;
$grey: #888 !default;
$trans: rgba(0, 0, 0, 0) !default;

$brand: #4682b4 !default;
$accent: #483d8b !default;
$success: #208a20 !default;
$danger: #ff4d4d !default;
$warning: #ffaa22 !default;
$info: $brand !default;

$fore: lighten($black, 10%) !default;
$back: darken($white, 10%) !default;

/// Structure
$nav-height: 4rem !default;

/// Default theme
$theme-default: light !default;
